<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ConfigurationItems</key>
		<array>
			<dict>
				<key>DisplayNameShort</key>
				<string>Login Details</string>
				<key>SubMenu</key>
				<array>
					<dict>
						<key>ConfigurationItems</key>
						<array>
							<dict>
								<key>DBAttribute</key>
								<string>serviceUsername</string>
								<key>DBClass</key>
								<string>String</string>
								<key>DefaultValue</key>
								<string>Email Address</string>
								<key>DisplayNameShort</key>
								<string>Email</string>
							</dict>
							<dict>
								<key>DefaultValue</key>
								<string>Service Password</string>
								<key>DisplayNameShort</key>
								<string>Password</string>
								<key>SecureEntry</key>
								<true/>
								<key>Password</key>
								<true/>
							</dict>
						</array>
						<key>GroupName</key>
						<string>Service Logon Details</string>
						<key>GroupDescription</key>
						<string>Enter your service email address and password here</string>
					</dict>
				</array>
				<key>SubMenuAction</key>
				<string>SaveToLocalStore</string>
				<key>SubMenuTitle</key>
				<string>AuthMe Password</string>
			</dict>
		</array>
		<key>GroupName</key>
		<string>Service Configuration</string>
	</dict>
	<dict>
		<key>DebugOnly</key>
		<true/>
		<key>ConfigurationItems</key>
		<array>
			<dict>
				<key>DisplayNameShort</key>
				<string>Debug Configuration</string>
				<key>SubMenu</key>
				<array>
					<dict>
						<key>GroupName</key>
						<string>Debug Options</string>
						<key>GroupDescription</key>
						<string>Only used for debugging builds - allow switch to a debug URL rather than prod</string>
						<key>ConfigurationItems</key>
						<array>
							<dict>
								<key>DBClass</key>
								<string>Bool</string>
								<key>DBAttribute</key>
								<string>useDebugURL</string>
								<key>DefaultValue</key>
								<false/>
								<key>DisplayNameShort</key>
								<string>Use Debug URL</string>
							</dict>
							<dict>
								<key>DBAttribute</key>
								<string>serviceURL</string>
								<key>DBClass</key>
								<string>String</string>
								<key>DefaultValue</key>
								<string>https://service.readercom.com/readercom-ws</string>
								<key>DisplayNameShort</key>
								<string>URL</string>
							</dict>
							<dict>
								<key>DBAttribute</key>
								<string>serviceDebugURL</string>
								<key>DBClass</key>
								<string>String</string>
								<key>DefaultValue</key>
								<string>http://dev.wingsofhermes.org/AuthMeWS/UserWS/</string>
								<key>DisplayNameShort</key>
								<string>Debug URL</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>SubMenuTitle</key>
				<string>Debug Options</string>
				<key>SubMenuAction</key>
				<string>SaveToLocalStore</string>
			</dict>
		</array>
		<key>GroupName</key>
		<string>Debug Options</string>
	</dict>
</array>
</plist>
